{% extends 'mainapp/base.html' %}
{% load static %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>AKSHAT</title>
<style>
</style>
</head>
<body>
{% block body %}

<header>
 <!-- <img class="new" height="900px" width="720px;" src="{% static 'mainapp/NEW.png' %}"/>-->
<!-----------------/*-----------NEW--------------*/-------------------------->
    <br><br><br><br><br>

    <h1> Hii, I am
        <br>
        <p>Akshat Ajay<span class="name"><br></span> Shirsat</p>
    </h1>


    <h3>
        <div class="spin">
            <span>
                A Student<br>
                A Sportsman<br>
                A Learning Programer<br>
                <span1>Maybe a Future Millionaire <a class='fas fa-grin-tongue-wink'></a></span1>
            </span>
        </div>
    </h3>

    <br><br>
    <p1>
        <a href="https://www.facebook.com/akshat.shirsat.7/"><i class="bi bi-facebook"></i></a>
        <a href="https://twitter.com/KingAkshat071"><i class="bi bi-twitter"></i></a>
        <a href="https://www.instagram.com/king_akshat_07/"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/akshat-shirsat-998693177/"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/kingakshat"><i class="bi bi-github"></i></a>
    </p1>
    <br>
<div class="btn">
    <button1 class="button1"><span1><a class="link" href="/intro">Explore More</a></span1></button1>
</div>
<!--<a class="button" ><span1><a class="link" href="/intro">Explore More</a></span1></a>
-->
</div>
</header>
<p2 class="last">Designed and Built with <i class="fa fa-heart-o" aria-hidden="true"></i> by AKSHAT</p2>
{% endblock %}
</body>
</html>
